<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - ECOGEO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    <a href="{{ url_for('index') }}">
        <img src="../static/img/WhatsApp Image 2025-05-21 at 17.51.52.jpeg" alt="Logo EcoGeo">
    </a>
</header>

<section class="content">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}
</section>

{% include "footer.html" %}

</body>
</html>
